.form, .field{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.form input[type="text"],
.form select{
    color: var(--white);
    padding: .3rem;
    border-radius: 10px;
    background: rgba(36, 14, 0, 0.3);
    backdrop-filter: blur(10px);
    border: .1rem solid var(--white);
    
}

.submit{
    background-color: var(--primary);
    color: var(--white);
    font-weight: 700;
    text-transform: uppercase;
    padding: .2rem;
    border: .2rem solid var(--primary);
    border-radius: 10px;
    cursor: pointer;
}