.form, .field{
    display: flex;
    flex-direction: column;
    gap: .6rem;
    font-weight: 700;
}

.form input[type="text"],
.form select{
    color: var(--white);
    padding: .4rem;
    border-radius: 10px;
    background: rgba(43, 48, 58, 0.3);
    backdrop-filter: blur(10px);
    border: .1rem solid var(--white);
    
}
.form select option {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border: solid var(--white);
}

.submit{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    background-color: var(--primary);
    color: var(--white);
    font-weight: 700;
    text-transform: uppercase;
    padding: .2rem;
    border: .2rem solid var(--primary);
    border-radius: 10px;
    cursor: pointer;
}