:root{
  --white : #FFF;
  --primary : 
}

html {
  font-size: 62.5%;
  background-image: url('/fondoClima.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  color: var(--white);
  font-size: 2rem ;
}


body{
  font-family: "Ubuntu", serif;
  
}